body{ 
    color: #444;
    background: #ffffff; 
    font-size: 100%; 
    font-family: Lustria, Palatino, Georgia,'Times New Roman',serif; 
    line-height: 2;
    margin: 0;
    padding: 0;
}
ul, ol{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 { 
    /*font-family: 'Fredericka the Great', cursive; */
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #cc3333;
    line-height: 1;
    margin:0;
    padding:0;
}
h1, h2, h3{
    text-transform: uppercase;
}
a{
    text-decoration: none;
    color: #cc3333;
    /*color: #444;*/
}
h1 {
    font-weight: normal;
    font-size: 2.3em/* 72 / 16 */;
    line-height: 1.5;
    margin-bottom: 24px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .9);
}
h1 a{
    color: #cc3333;
}
code, pre {
    padding: 0 3px 2px;
    font-family: Monaco, Andale Mono, Courier New, monospace;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 90%;
    line-height: 1.5;
}
code {
    background-color: #fee9cc;
    color: rgba(0, 0, 0, 0.75);
    padding: 1px 3px;
}
pre {
    display: block;
    padding: 14px;
    margin: 0 0 18px;
    border: 1px solid #eee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
pre code {
    background-color: #fdfdfd;
    color:#737373;
}
#menu{
    height: 100%;
    width: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background: #333333;
    padding: 0;
    margin: 0;
    text-align: center;
}
#menu ul{
    margin: 0;
    padding: 8px 26px;
}
#menu img{
    width: 48px;
    border-radius: 7px;
}
#menu li{
    list-style: none;
    padding: 10px 0;
}
#menu .me{
    box-shadow: 1px 1px 3px 0px #000000;
}
#main{
    margin-left: 100px;
    padding: 1em;
}
#main .content{
    margin: 0 auto;
    max-width: 900px;
}
#main h1{
    text-align: center;
}

.post img, #post img {
    padding: 10px;
    display: block;
    margin: 0 auto;
    max-width: 90%;
}

@media handheld, only screen and (max-width: 767px) {
    #menu{
        height: 80px;
        width: 100%;
        position: relative;
    }
    #menu ul{
        margin: 0;
        padding: 16px 0;
    }
    #menu img{
        width: 48px;
        border-radius: 7px;
    }
    #menu li{
        display: inline;
        list-style: none;
        padding: 0 5px;
    }
    #main{
        margin-left: 0;
        padding: 1em;
    }
}

/*home page*/
#home_page{
    margin: 0 auto;
    text-align: center;
}
#home_page .title{
    font-size: 80px;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-transform: uppercase;
    color: #555;
    text-shadow: 0px 1px 0px #222, 0px -1px 0px #222;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 15px;
}
#home_page .text{
    margin: 0 auto;
    padding: 0;
}
#home_page h3{
    text-transform: uppercase;
    font-size: 28px;
    margin-bottom: 10px;
}
#home_page .container{
    margin: 20px auto;
    margin-top: 40px;
    text-align: center;
}
#home_page .column{
    display: inline;
    padding: 10px;
    margin: 10px auto;
}
#home_page .column li{
    list-style: none;
}
#home_page .icons{
    width: 32px;
    padding-right: 10px;
    vertical-align: top;
}
#home_page .block a{
    text-transform: uppercase;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.post{
    margin-bottom: 50px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 10px;
}
.post .date, .post .readmore{
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: .8em;
    text-align: right;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
.post .date{
}
#related{
    margin: 60px 0 0;
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
    padding: 10px 0;
}
#related h2{
    padding-bottom: 20px;
}
#related li{
    list-style: none;
}
#social{
    margin: 30px 0;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 20px;
}
#disqus_thread{
    max-width: 900px;
    margin:0 auto;
}
.contact img{
    width: 64px;
    display: inline;
}
