/* GLOBAL ELEMENTS */
body { 
    color: #000;
    background: #ffffff; 
    font-size: 100%; 
    font-family: Palatino, Georgia,'Times New Roman',serif; 
}
p, ul, ol, dd, pre { margin-bottom: 20px;line-height: 1.5; }
table { border: 1px solid #ccc; border-width: 1px 1px 0 1px; line-height: 1.6; margin: 0 0 20px 0; text-align: left; }
caption { text-align: left; }
tr { border-bottom: 1px solid #ccc; }
th, td { padding: .7em 1.25em; }
hr { background-color: #ccc; border: 0; color: #555; height: 1px; margin-bottom: 20px; }
a{ color: #e14e32; text-decoration: none; }
a:active { position: relative; top: 1px; }
h1, h2, h3, h4, h5, h6 { font-family: 'Ubuntu Condensed', sans-serif; }

h1 {
font-weight: normal;
font-size: 2.3em/* 72 / 16 */;
line-height: 1.5;
margin-bottom: 24px;
color: #444;
text-shadow: 0 1px 0 rgba(255, 255, 255, .9);
}

h1 a{
color: #444;
}

#wrapper {
background: #ffffff;
margin: 20px auto;
padding: 0 5%;
}
#footer {
text-align: center;
color: #555;
margin-top: 30px;
padding: 20px 0;
}
#footer div{
 display: inline;
}

/* DEFAULT CSS */
#access {
overflow: hidden;
padding: 10px;
margin-bottom: 20px;
text-transform: uppercase;
font-family: "Ubuntu Condensed", sans-serif;
}
#access li{
    padding-right: 10px;
    display: inline;
    list-style: none;
}
#post h1, .post h1{
    text-align: center; 
    margin-bottom: 20px;
    text-transform: uppercase;
}
#post h1 a, .post h0 a{
    color: #444;
    font-weight: bold;
}
#post h1{
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 1px 0px #222, 0px -1px 0px #222;
}
.post, #post {
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 22px 22px -30px #777;
    -moz-box-shadow: 0px 22px 22px -30px #777; 
    -o-box-shadow: 0px 22px 22px -30px #777; 
    box-shadow: 0px 22px 22px -30px #777; 
    padding: 20px;
}
.posts li{
    list-style: none;
}
.post img, #post img {
padding: 10px;
display: block;
margin: 0 auto;
max-width: 90%;
}
#related{
    text-align: right;
    margin-top: 20px;
}
#related h2{
    text-transform: uppercase;
    margin-bottom: 15px;
}
#related li{
    margin: 10px -1;
}
blockquote {
padding: 0 13px 21px 15px;
margin-bottom: 18px;
color: #555555;
}
blockquote:before {
content:"\201C";
margin-left:-10px;
font-family:georgia,serif;
color:#eee;
}
blockquote p {
font-weight: 300;
margin-bottom: 0;
font-style: italic;
}
code, pre {
padding: 0 3px 2px;
font-family: Monaco, Andale Mono, Courier New, monospace;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
font-size: 90%;
}
code {
background-color: #fee9cc;
color: rgba(0, 0, 0, 0.75);
padding: 1px 3px;
}
pre {
display: block;
padding: 14px;
margin: 0 0 18px;
border: 1px dashed #ccc;
border: 1px dashed rgba(0, 0, 0, 0.15);
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
white-space: pre;
white-space: pre-wrap;
word-wrap: break-word;
}
pre code {
background-color: #fdfdfd;
color:#737373;
}
.date{
    text-align: right;
}
hr.center{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}

/*home page*/
#home_page{
    margin: 0 auto;
    text-align: center;
}
#home_page .title{
    font-size: 80px;
    text-transform: uppercase;
    color: #555;
    text-shadow: 0px 1px 0px #222, 0px -1px 0px #222;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 15px;
}
#home_page .text{
    margin: 0 auto;
    padding: 0;
}
#home_page h3{
    text-transform: uppercase;
    font-size: 28px;
    margin-bottom: 10px;
}
#home_page .container{
    margin: 20px auto;
    margin-top: 40px;
    text-align: center;
}
#home_page .column{
    display: inline;
    padding: 10px;
    margin: 10px auto;
}
#home_page .column li{
    list-style: none;
}
.clear{
    clear: both;
}
#social{
    padding: 20px;
}
#social div{
    padding: 5px;
    /*display: inline;*/
}
@media handheld, only screen and (max-width: 767px) {
    #post h1{
        font-size: 2.3em/* 72 / 16 */;
    }
}
