body{
	color: #000;
	background: #ffffff;
	font-size: 105%;
	font-family: Lustria, Palatino, Georgia,'Times New Roman',serif;
	line-height: 2;
	margin: 0;
	padding: 0;
}
a{
	color: #000000;
}
code{
	font-family: Menlo, "Andale Mono", monospace;
	background: #FDF8E8;
}
pre{
	background: #FDF8E8;
	border: 1px solid #E6E6A9;
        padding: 1em;
	border-radius: 3px;
	font-size: 90%;
	line-height: 1.5;
        white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
.title {
	font-size: 2.6em;
	font-weight: normal;
	text-align: center;
	margin: 0;
	line-height: 1.5;
	text-transform: uppercase;
	font-family: "Ubuntu Condensed", Arial;
}
.title a{
	text-decoration: none;
}
.date {
	text-align: center;
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-style: italic;
}
.articles {
	margin: 1em;
}
.articles .title, .articles .date{
	font-size: 1em;
	padding: 0 1em;
}
.articles .title a{
	text-transform: none;
	color: #000;
	font-family: Lustria, Palatino, Georgia,'Times New Roman',serif;
	font-weight: normal;
}
.articles .date a{
	text-decoration: none;
	font-size: .8em;
}
.contact img {
	width: 48px;
}
.container {
	max-width: 800px;
	margin:0 auto;
}
#menu {
	margin-bottom: 3em;
	padding: .5em;
	text-align: center;
	border-top: 10px solid black;
	border-bottom: 1px solid black;
	text-transform: uppercase;
	font-family: "Ubuntu Condensed", Arial;
}
#menu a{
	color: #000000;
	text-decoration: none;
}
#menu ul {
	padding: 0;
	margin: 0;
}
#menu li {
	list-style: none;
	display: inline;
	padding: 0 .5em;
}
#social{
	margin: 30px 0;
	border-bottom: 1px dashed #ccc;
	padding-bottom: 20px;
}
#footer{
	margin-top: 10em;
	border-top: 1px solid #000;
	border-bottom: 10px solid black;
	padding-top: 1em;
	font-size: .7em;
	text-align: center;
}
#footer a{
	text-decoration: none;
}
#home_page {
	text-align: center;
}
#home_page ul{
	padding: 0;
	margin: 0;
}
#home_page li{
	list-style: none;
}
#home_page a{
	text-decoration: none;
}
#home_page .title{
	padding-bottom: 0;
	margin-bottom: .2em;
	margin-top: 2em;
	font-size: 1.6em;
}
#home_page .title a{
	font-family: "Ubuntu Condensed", Arial;
	text-transform: uppercase;
}
#me .name {
	font-family: "Ubuntu Condensed",Arial;
	font-weight: bold;
	font-size: 5em;
	text-transform: uppercase;
	padding: 0px;
	margin: 0px;
	line-height: 1;
}
#related{
	margin-top: 3em;
}
#related .title{
	text-align: left;
	font-size: 1.6em;
}
#related li{
	list-style: none;
}
#related a{
	text-decoration: none;
}