body {
    font-family: sans-serif;
    line-height: 1.5;
    max-width: 800px
}
a {
    text-decoration: none;
    color: #000;
}
h1 {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
}
h1, h2, h3 {
    text-transform: uppercase;
}
h2 {
    border-bottom: 1px solid #efefef;
    padding-bottom: .25em;
}
h3 {
    padding: 0;
    margin: 0;
}
h4 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 300;
}
p {
    padding: 0 .5em;
}
h5 {
    padding: 0;
    margin: 0;
    font-weight: 100;
}
table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}
table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}
table tr {
    border: 1px solid #ddd;
    padding: .35em;
}
table th,
table td {
    padding: .625em;
}
table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}
@media screen and (max-width: 600px) {
    table {
	border: 0;
    }
    table caption {
	font-size: 1.3em;
    }
    table thead {
	border: none;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
    }
    table tr {
	border-bottom: 3px solid #ddd;
	display: block;
	margin-bottom: .625em;
    }
    table td {
	border-bottom: 1px solid #ddd;
	display: block;
	font-size: .8em;
	text-align: right;
    }
    table td:before {
	/*
	 * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
       */
	content: attr(data-label);
	float: left;
	font-weight: bold;
	text-transform: uppercase;
    }
    table td:last-child {
	border-bottom: 0;
    }
}
