<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="/images/favicon.png" />  
    <link rel="stylesheet" href="/css/base.css" type="text/css" />
    <!-- <link href='http://fonts.googleapis.com/css?family=Homenaje' rel='stylesheet' type='text/css'> -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'> -->
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div id="access">
                <ul>
                    <li><a href="/">Satyajit Ranjeev</a></li>
                    <li><a href="/about/">About</a></li>
                    <li><a href="/articles/">Articles</a></li>
                    <li><a href="/contact/">Contact</a></li>
                </ul>
            </div><!-- #access -->
        </div><!-- #header -->


        <div id="main">
                {{ content }}
        </div><!-- #main -->


        <div id="footer">     
            <div class="copyright">&copy; <a href="/">Satyajit Ranjeev</a>. All Rights Reserved.</div>
        </div><!-- #footer -->


    </div><!-- #wrapper -->
</body>
</html>
